{% extends 'base.html.twig' %}


{% block body %}
 	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success" >
          {{ flashMessage }}
      	</div>
	{% endfor %}
  	<div class="overlay"></div>
		
         <section class="cd-hero">
			{{ include('Home/menu_nav.html')}}
			<ul class="cd-hero-slider">
				{{ include('Home/Slides/slide_1.html')}}

				{{ include('Home/Slides/slide_2.html')}}

				{{ include('Home/Slides/slide_3.html')}}

				{{ include('Home/Slides/slide_4.html')}}

				{{ include('contact.html')}}
			</ul> <!-- .cd-hero-slider -->
        </section> <!-- .cd-hero -->
         {{ include('footer.html')}}
  {% endblock %}   
  