{% extends 'base.html.twig' %}

{% block body %}
  	<div class="overlay"></div>
		
         <section class="cd-hero">
			{{ include('Project/menu_nav.html')}}
			<ul class="cd-hero-slider">
				{{ include('Project/Slides/slide_1.html')}}
				{{ include('Project/Slides/slide_2.html')}}
				{{ include('Project/Slides/slide_3.html')}}
				{{ include('contact.html')}}
			</ul> <!-- .cd-hero-slider -->
        </section> <!-- .cd-hero -->
         {{ include('footer.html')}}
  {% endblock %}   
  